body {
  background-color: #95A888;
  font-family: Arial, sans-serif;
}

.cooland {
  color: #B48EAD;
  font-size: 18px;
  padding: 10px;
  margin: 15px;
  border: 2px solid #4A4656;
}

.overview {
  color: #343F38;
  font-size: 18px;
  padding: 10px;
  margin: 15px;
  border: 2px solid #4A4656;
}

.cookielore {
  color: #592D26;
  font-size: 18px;
  padding: 10px;
  margin: 15px;
  border: 2px solid #4A4656;
}

#cookiescription {
  color: #592D26;
}

a {
  color: #343F38;
}

a:hover {
  opacity: 0.7;
}

a:visited {
  color: #B48EAD;
}